@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    position: relative;
    top: 3rem;
}

.calculator{
    background-color: #373737;
    padding: 15px;
    border-radius: 25px;
    border: 1.5px solid #535353;
}

.screen{
    background-color: #d9d9d9;
    width: 26rem;
    height: 5rem;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.AC-EQUAL{
   width: 190px;
}

.AC-EQUAL:hover{
    width: 190px;
 }

table{
    padding-left: 1rem;
}

button{
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    border-radius: 25px;
    border: none;
    margin: 3px;
    cursor: pointer;
}

button:hover{
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    border-radius: 25px;
    border: 1px solid #5b5b5b;
    margin: 3px;
    box-shadow: 0px 0px 5px #ffffffa7;
    cursor: pointer;
}

