@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
}

.container{
    background-color: #373737;
    padding: 15px;
    border-radius: 25px;
    border: 1.5px solid #535353;
    width: 26%;
}

.screen{
    background-color: #d9d9d9;
    width: 95%;
    margin: 3%;
    padding: 5%;
    border: none;
    border-radius: 15px;
}

.cal-button{
    margin-left: 1%;
    width: 100%;
}

.AC-EQUAL{
   width: 95%;
}

.AC-EQUAL:hover{
    width: 95%;
 }

button{
    width: 100%;
}

button{
    height: 5rem;
    width: 5rem;
    margin: 3px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}


button:hover{
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    border-radius: 25px;
    border: 1px solid #5b5b5b;
    margin: 3px;
    box-shadow: 0px 0px 5px #ffffffa7;
    cursor: pointer;
}


@media screen and (min-width: 300px) and (max-width: 1080px) {
    main{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
    /*
    .calculator{
        background-color: #373737;
        padding: 15px;
        border-radius: 25px;
        border: 1.5px solid #535353;
        width: 85%;
    }
    */
    
    /* .screen{
        background-color: #d9d9d9;
        width: 75%;
        height: 5rem;
        margin: 10px;
        padding: 20px;
        border: none;
        border-radius: 15px;}

    .container{
        width: 60%;
    }

    .container input{
        width: 100%;
    }

    td{
        width: 1%;
    }

    .cal-button{
        margin: 2%;
    } */

}
  